.landing-container {
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}
.nav-wrapper {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    padding: 24px;
}
.nav__logo {
    display: inline;    
}
.nav__auth-wrapper {
    display: flex;
    justify-content: space-between;
    width: 112px;
    text-decoration: none;
}
