.following-item__wrapper {
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 12px 16px;
    border-radius: 8px;
    background-color: var(--darkGrey);
    margin: 10px;
}
.following-item__content {
    display: flex;
    justify-content: center ;
    align-items: center;
    width: 200px;
    height: 40px;
}
.following-item__username {
    display: flex;
    justify-content: center ;
    align-items: center;
    width: 200px;
    height: 40px;
    color: var(--green);
}
