*{
    box-sizing: border-box;
}

.main-comment{
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
  margin: 30px auto;
  background: grey;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  padding: 28px;
  transition: min-height;
  max-height: 46px;
 
}

.user {
  display: flex;
  align-items: center;
 
}


.user img {
  border-radius: 20px;
  margin-right: 10px;
}



