.reg-container {
    background-color: rgb(243, 243, 243);
    min-width: 600px;
    min-height: 800px;
    width: 40vw;
    height: 78vh;
    margin-top: 36px;
    padding: 64px 82px;
}
.reg-title {
    font-size: 3rem;
    margin-bottom: 16px;
}
.reg-subtitle {
    margin-bottom: 36px;
}
.reg-input-label {
    margin-bottom: 4px;
}
.reg-input-field {
    height: 46px;
    width: 100%;
    padding-left: 12px;
    margin-bottom: 12px;
}
.reg-button {
    background-color: rgb(145, 145, 145);
    border: none;
    margin: 12px 0 4px 0;
    height: 46px;
    width: 100%
}
.login-register {
    margin-top: 12px;
    display: flex;
    justify-content: center;
}
.login-register-link {
    margin-left: 4px;
}
