/* 
* {
    box-sizing: border-box;
}
.main-comment {
    background-color: grey;
    text-align: justify;
    border-radius: 10px;
    border: 2px solid rgb(38, 38, 224);
    width: 700px;
    max-width: 100%;
    margin: 200px;
    padding: 60;
    background-color: grey;
    
}

.user {
  display: flex;
  align-items: center;
 
}


.user img {
  border-radius: 20px;
  margin-right: 10px;
}

.button__reply {
  background: green;
  color: white;
  border-radius: border;
  padding : 2px 5px;
  margin: 10px;

}

button {
  cursor: pointer;
}


.button__edit{
  background: green;
  color: white;
  border-radius: border;
  padding: 2px 5px;
}

textarea {
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  resize: none;
}

textarea::placeholder {
  color: grey;
}

.comment-field {
  display: flex;
  color: black;
  font-size: 18px;
  width: 100%;
  outline: none;
  padding: 30px;
  min-height: 60px;
  transform: translateY(-32px);
  line-height: 1;
} */

*{
    box-sizing: border-box;
}

/* body{
  
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    line-height: 1.4;
    color: rgba(0, 0, 0, 0.85);
   

} */
button {
    display: inline;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    font-size: 14px;
    padding: 4px 16px;
    color: rgba(0, 0, 0, 0.85);
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    margin-left: 5px;
}
button:hover,
button:focus,
button:active {
    cursor: pointer;
    background-color: #ecf0f1;
}

.comment-thread {
    display: flex;
    overflow: hidden;
    border-radius: 24px;
    margin-bottom: 24px;
    position: relative;
    width: 900px;
    max-width: auto;
    padding:4px 30px;
    background-color: rgb(105, 101, 101);
    border: 1px solid transparent;
    border-radius: 2px solid transparent;
}
.create{
  margin: 0;
}

.user, .user-img, .nav__avatar {
  display: flex;
  position: relative;
  grid-template-columns: 30% 1fr 100px;
}

.comment__body {
    overflow: hidden;
    background: #212325;
    color: #434343;
    padding: 1rem;
    border-radius: 8px;
    z-index: 1;
    position: relative;
    width: 700px;
    height: 200px;
}