.img-upload-wrap {
    width: 95%;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
}


.img-preview {
    object-fit: cover;
    object-position: center;
}

.icon-wrap {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--grey);
    overflow: hidden;
    border-radius: 999px;
    margin-bottom: 16px;
}

.upload-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 100%;
    width: 100%;
    padding: 56px;
    overflow: hidden;
    border: 1px solid var(--grey);
    border-radius: 8px;
    transition: border 300ms ease-in-out 100ms;
}

.upload-wrap:hover {
    border: 1px solid var(--white);
}