.NamePlate-container {
    background:linear-gradient(to bottom, #646464 0%, #646464 40%,#C7C6C6 40%, #C7C6C6 100%);
    border-bottom: 3px solid black;
    padding-top: 25px;
    padding-bottom: 25px;
}

.username {
    display: inline-block;
    font-size: 30px;
}

.jobTitle {
    text-align: center;
    font-size: 25px;
}

.image {
    display: inline-block;
    border-radius: 50%;
    z-index: 1;
}

.bio {
    display: flex;
    justify-content: start;
}

.numberOfPosts {
    display: flex;
    justify-content: flex-end;
    font-size: 25px;
}

.numberOfConnections {
    display: flex;
    justify-content: flex-end;
    font-size: 25px;
}