.login-container {
    background-color: rgb(243, 243, 243);
    min-width: 600px;
    min-height: 600px;
    width: 40vw;
    height: 60vh;
    margin-top: 120px;
    padding: 82px;
}
.login__title {
    margin-top: 18px;
    font-size: 3rem;
    margin-bottom: 16px;
}
.login__subtitle {
    margin-bottom: 48px;
}
.login__email {
    margin-bottom: 4px;
}
.login__input-field {
    height: 46px;
    width: 100%;
    padding-left: 12px;
}
.login__password {
    margin-top: 24px;
    margin-bottom: 4px;
}
.login__button {
    background-color: rgb(145, 145, 145);
    border: none;
    margin-top: 24px;
    height: 46px;
    width: 100%
}
.login__register-footer {
    margin-top: 18px;
    display: flex;
    justify-content: center;
}
.login__register-link {
    margin-left: 4px;
    color: #7EBFA0;
}
