.create-post__input-wrapper {
    width: 93%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px 20px;
}
.create-post__input {
    width: 100%;
    height: 40px;
    margin: 5px;
    padding: 1px 10px;
}
.create-post__button {
    width: 100%;
    height: 40px;
    margin: 5px;

}