@import url("https://use.typekit.net/fxk1mzm.css");

:root {
  --white: #ffffff;
  --green: #7EBFA0;
  --softWhite: #E4E4E4;
  --darkGrey: #212325;
  --black: #141718;
  --grey: #313131;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: poppins, sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 1.45;
  font-size: 15px;
  text-decoration: none;
  color: var(--softWhite);
  background-color: var(--black);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*, ::before, ::after {
  box-sizing: border-box;
}

h1 {
  font-family: poppins, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 32px;
  line-height: 1.1;
  color: var(--white);
}

h2 {
  font-family: poppins, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  line-height: 1.1;
}

.post__body-text {
  font-family: nimbus-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--softWhite);
}

input[type=submit]{
  cursor: pointer;
  font-family: poppins, sans-serif;
  font-weight: 600;
  font-style: normal;
}

a {
  text-decoration: none;
  color: var(--softWhite);
}


/* SECTIONS */

section {
  padding: 160px 0px; 
}

/* CONTAINERS */

.container {
 padding: 0px 40px 0px 284px;
}

/* Global Combo Classes */

.--text-green {
  color: var(--green);
}