@import url("https://use.typekit.net/fxk1mzm.css");

:root {
  --white: #ffffff;
  --green: #7EBFA0;
  --softWhite: #E4E4E4;
  --darkGrey: #212325;
  --black: #141718;
  --grey: #313131;
}

body {
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: poppins, sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 1.45;
  font-size: 15px;
  text-decoration: none;
  color: var(--softWhite);
  background-color: var(--black);

}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
}

h1 {
  font-family: poppins, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 32px;
  line-height: 1.1;
  color: var(--white);
  margin-bottom: 16px;
}

h2 {
  font-family: poppins, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  line-height: 1.1;
  margin-bottom: 16px;
}

.post__body-text {
  font-family: nimbus-sans, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--softWhite);
}

input[type=submit]{
  cursor: pointer;
  font-family: poppins, sans-serif;
  font-weight: 600;
  font-style: normal;
}

a {
  text-decoration: none;
  color: var(--softWhite);
  cursor: pointer;
}

a:hover {
  color: var(--white);
}


/* SECTIONS */

section {
  padding: 160px 0px; 
}

/* CONTAINERS */

.container {
 padding: 0px 40px 0px 284px;
}

.container__dashboard {
  padding: 0px 40px 0px 284px;
  max-width: 1200px;
  margin: 0px auto;
  
}

/* BUTTONS */

button {
  padding: 12px 16px;
  border-radius: 8px;
  background-color: var(--green);
  border: none;
  font-family: poppins, sans-serif;
  font-weight: 600;
  font-style: normal;
  line-height: 1;
  color: var(--softWhite);
  cursor: pointer;
  transition: background-color ease-in-out 400ms;
}

button:hover {
  background-color: rgb(79, 148, 114);
}

/* Global Combo Classes */

.--text-green {
  color: var(--green);
}

.--flex-row {
  display: flex;
}

.--flex-row.--flex-space-between{
  justify-content: space-between;
}

.--flex-align-center{
  align-items: center;
}
