.welcome-header {
    margin-bottom: 80px;
}
.dashboard__wrapper {
    display: flex;
    margin-bottom: 12px;
}

.dashboard__button {
    width: 100px;
    display: flex;
    justify-content: center;
    padding: 8px 16px;
    background-color: transparent;
    color: var(--softWhite);
    margin-bottom: 16px;
    border-radius: 8px;
    transition: background-color ease-out 200ms;
}

.dashboard__button:hover {
    background-color: var(--darkGrey);
    transition: background-color ease-out 200ms;
}

.dashboard__button.active {
    background-color: var(--darkGrey);
}

.dashboard__title {
    width: 136px;
    display: flex;
    justify-content: left;
    padding: 8px 16px 8px 0px;
}

.dashboard__sort {
    
}